<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión con GitHub</title>
</head>
<body>
    <div class="login-container">
        <h2>Iniciar Sesión</h2>
        <!-- Botón para iniciar sesión con GitHub -->
        <a href="/api/sessions/github" class="github-login-btn">
            Iniciar Sesión con GitHub
        </a>
    </div>
    <p class="signin">Don`t you have a GitHub account? <a href="/users/register">Register</a> </p>
    <p class="signin">Do you have an account? <a href="/">Ir a Login</a> </p>

    <script src="script.js"></script> <!-- Opcional, si necesitas JavaScript -->
</body>
</html>
